*{padding:0;
margin:0;}
header {background-color: #231c1a;
        height: 80px;
        width:100%;
        position:relative}
h1 {color:white;}
header a{color:white;
text-decoration: none;}
header a:hover{text-decoration: underline;}
header li{display:inline;margin-right:4vw;}
header ul{position: absolute;right:5vw;top:0;line-height: 80px;}
h1 {position:absolute;left:120px;top:0;line-height: 80px;}
.A {background-color: antiquewhite;
    color:white;height:85vh;
    background-image:url("images/2.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;}
.A h2{font-size:60px;}
.A p{color:#fef7e6;font-size:18px;margin:25px 0;}
.A a{color: white; text-emphasis: none;border:1px solid #acacac;padding:10px 20px;border-radius: 5px;}